@tailwind base;
@tailwind components;
@tailwind utilities;

/* to make the scroll bar disapear */
.column {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.column::-webkit-scrollbar {
    display: none;
}

/* these classes helps make the app responsive by calculating the total height of the Kanban Board */
.board-height {
    height: calc(100vh - 112px);
}

/* these classes helps make the app responsive by calculating the total width */
.whenSidebarOpen {
    width: calc(100vw - 288px);
    padding: 0 10px 0 10px;
}
.whenSidebarClose {
    width: calc(100vw - 69px);
    padding: 0 10px 0 10px;
}   

