@tailwind base;
@tailwind components;
@tailwind utilities;


.column {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.column::-webkit-scrollbar {
    display: none;
}

.board-height {
    height: calc(100vh - 112px);
}

.whenSidebarOpen {
    width: calc(100vw - 288px);
    padding: 0 10px 0 10px;
}
.whenSidebarClose {
    width: calc(100vw - 69px);
    padding: 0 10px 0 10px;
}   